{% extends 'base.html.twig' %}

{% block title %}{{ 'Register'|trans }}{% endblock %}

{% block head %}
<div class="container-fluid navbarContainer">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link"  href="javascript:void(0)" onclick="alert('En cours de développement!!!')">Foire aux Questions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="javascript:void(0)" onclick="alert('En cours de développement!!!')">Le Mag</a>
                    </li>                   
                </ul>
            </div>
        </nav>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="container-fluid banner">
    <style type="text/css">
        .center{
            margin-left: 5%; width:30%;
        }
        .bottom{
            margin-bottom: 30px;
        }
    </style>
    <div class="center">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
    
        <h1>{{ 'Register'|trans }}</h1>
    
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}
    
            <button type="submit" class="btn btn-lg btn-primary">{{ 'Save'|trans }}</button>
        {{ form_end(registrationForm) }}
    </div>
</div>
<div class="bottom"></div>
{% endblock %}
