<header class="header-1" id="header"><!-- Header Start -->
    <div class="vd_top-menu-wrapper">
        <div class="container">
            <div class="vd_top-nav vd_nav-width">
                <div class="vd_panel-header">
                    <div class="img_back">                
                    	<a href="{{ path('adminadmin_index') }}"><img alt="logo" src="{{ asset('images/img/logo.png') }}"></a></img>
                    </div>
                    <!-- logo -->
                    <div class="vd_panel-menu  hidden-sm hidden-xs" data-intro="<strong>Minimize Left Navigation</strong><br/>Toggle navigation size to medium or small size. You can set both button or one button only. See full option at documentation." data-step=1>
                    	<span class="nav-medium-button menu" data-toggle="tooltip" data-placement="bottom" data-original-title="Medium Nav Toggle" data-action="nav-left-medium">
                            <i class="fa fa-bars"></i>
                        </span>
                    	<span class="nav-small-button menu" data-toggle="tooltip" data-placement="bottom" data-original-title="Small Nav Toggle" data-action="nav-left-small">
                            <i class="fa fa-ellipsis-v"></i>
                        </span>
                    </div>
                    <div class="vd_panel-menu left-pos visible-sm visible-xs">
                        <span class="menu" data-action="toggle-navbar-left">
                            <i class="fa fa-ellipsis-v"></i>
                        </span>
                    </div>
                    <div class="vd_panel-menu visible-sm visible-xs">
                    	<span class="menu visible-xs" data-action="submenu">
                            <i class="fa fa-bars"></i>
                        </span>
                        <span class="menu visible-sm visible-xs" data-action="toggle-navbar-right">
                            <i class="fa fa-comments"></i>
                        </span>
                    </div>
                </div><!-- vd_panel-header -->
            </div>
            <div class="vd_container">
                <div class="row">
                	<div class="col-sm-5 col-xs-12"></div>
                    <div class="col-sm-7 col-xs-12">
                  		<div class="vd_mega-menu-wrapper">
                        	<div class="vd_mega-menu pull-right">
                				<ul class="mega-ul">
                                    <li id="top-menu-profile" class="profile mega-li">
                                        <a href="#" class="mega-link"  data-action="click-trigger">
                                            <span  class="mega-image">
                                                <img src="{{ asset('images/avatar.png') }}" alt="example image" />                
                                            </span>
                                            <span class="mega-name">
                                                {{ nomUser }}<i class="fa fa-caret-down fa-fw"></i>
                                            </span>
                                        </a>
                                        <div class="vd_mega-menu-content  width-xs-2  left-xs left-sm" data-action="click-target">
                                            <div class="child-menu">
                                                <div class="content-list content-menu">
                                                    <ul class="list-wrapper pd-lr-10">
                                                      <li>
                                                        <a href="{{ path('adminadmin_index') }}">
                                                        <i class="icon-user"></i> Profil </a>
                                                      </li>
                                                      <li>
                                                        <a href="{{ path('app_logout') }}">
                                                        <i class="icon-key"></i> Se déconnecter </a>
                                                      </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- container -->
    </div><!-- vd_primary-menu-wrapper -->
</header><!-- Header Ends -->